<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout1}"
>
<head>
    <meta charset="UTF-8">
    <title>Products</title>
</head>
<body>
<div class="p-3" layout:fragment="content1">
    <div class="card">
        <div class="card-header">Products List</div>
        <div class="card-body">
            <form method="get" th:action="@{/user/index}">
                <label>Keyword:</label>
                <input type="text" name="keyword" th:value="${keyword}">
                <button type="submit" class="btn btn-info">Search</button>
            </form>
            <div class="mt-3 mb-3" sec:authorize="hasRole('ADMIN')">
                <a class="btn btn-primary" th:href="@{/admin/newProduct}">New Product</a>
            </div>
            <table class="table">
                <thead>
                <tr><th>ID</th><th>Name</th><th>Price</th><th>Quantity</th><th></th><th></th></tr>
                </thead>
                <tbody>
                <tr th:each="p:${productList}">
                    <td th:text="${p.id}"></td>
                    <td th:text="${p.name}"></td>
                    <td th:text="${p.price}"></td>
                    <td th:text="${p.quantity}"></td>
                    <td sec:authorize="hasRole('ADMIN')">
                        <a class="btn btn-success" th:href="@{/admin/editProduct(id=${p.id}, keyword=${keyword}, page=${currentPage})}">Edit</a>
                    </td>
                    <td sec:authorize="hasRole('ADMIN')">
                        <form method="post" th:action="@{/admin/delete(id=${p.id}, keyword=${keyword}, page=${currentPage})}">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
            <ul class="nav nav-pills">
                <li th:each="page,status:${pages}">
                    <a th:class="${status.index==currentPage?'btn btn-info ms-1':'btn btn-outline-info ms-1'}"
                       th:text="${status.index}"
                       th:href="@{/user/index(page=${status.index}, keyword=${keyword})}"></a>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>